* {
  margin: 0;
  padding: 0;
}

body {
  background: #EEF2F7; 
}

body::-webkit-scrollbar{
    width: 20px;
}

body::-webkit-scrollbar-track{
    border-radius: 10px;
    background: grey;
    box-shadow: inset 0 0 6px rgba(0,0,0);
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background:linear-gradient(#B76F65,#9E5F57);
    box-shadow: inset 0 0 6px rgba(117,4,0);
}

.navbar {
    top:0;
    width:100%;
    position: fixed;
    overflow: hidden;
    background-color: #D98D88;
    box-sizing:border-box;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 1;
}

.navbar a {
    color: #A60E16;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:not(:first-child){
    text-shadow: 1px 2px 2px rgba(255, 255, 255,1);
}


.navbar a:not(:last-child):hover {
    background-color:#A60E16;
    color: white;
    border-radius:5px;
    text-shadow: unset;
}

.navbar a.active {
    background-color:#A60E16;
    border-radius: 5px;
    color: white;
}

.navbar .icon {
    display: none;
}


li{
    list-style: none;
}


.profile{
width:20%;
height:18vw;
box-shadow: 0px 20px 24px 8px rgba(111,41,36,1);
border-radius:25px;
margin-bottom:2.8%;
margin-top: -5%;
}


h2{
    font-size: 3.8vw;
    font-weight:700;
    margin-top: 2%;
}

.bubbles {
    margin-top: 10%;
    font-family: cursive;
    min-height: 36vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: #4A1B1F;
    font-weight:700;
    text-align: center;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 0px 0px 25px 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) ;
}

p{
    font-size:2.5vw;
}

#skills{
    text-align: center;
    width:90%;
    margin-bottom: 4%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    z-index:-1;
}

section {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background: #FF4417;
    transform: translate(-50%, -50%);
    animation: fly 4s linear infinite;
}
    
@keyframes fly {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100% {
        transform: translate(-50%, -1000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}
    
a:hover{
    text-decoration: none;
}

.logo-col{
    text-align: center;
    margin-top:2%;
    white-space: pre-line;
    margin-left: auto;
    margin-right: auto;
}

.logo-text{
    font-weight:800;
    font-size: 2.5vw;
}

.logo{
  font-size: 8vw;
  color: #C92812;
  margin-top:-10%;
}

.certificate{
    font-size: 1.5vw;
    white-space: pre;
}

.jqueryimg{
    width: 38%;
    margin-top:-10%
}

button{
    background-color: #C91E0A;
    padding:1%;
    font-size: 1.5vw;
    color: white;
    border: unset;
    box-sizing: border-box;
    margin:2%;
    cursor: pointer;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#projects{
    width:90%;
    margin: auto;
    text-align: center;
}

.project-title {
    font-size: 1.8vw;
    padding: 1.2rem 0.5rem;
    background-color: lightcoral;
    box-sizing: border-box;
    border-radius: 0px 0px 25px 25px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
  
.projectimg{
   width: 100%;
   margin-top:4%;
   box-sizing: border-box;
    border-radius:25px 25px 0px 0px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

footer{
    background-color:#A60E16;
    color: white;
    text-align: center;
    font-family:cursive;
    margin-top: 2%;
    padding: 2%;
}
#subscript{
 margin-top:-1.5%;
 opacity: 0.5;
 font-size: 1.55vw;
}

.connect{
    color:white;
}

.connect:hover{
    color:silver;
}

.footer-icon{
 font-size: 3.2vw;
 padding: 2% 4%;
}

@media (max-width: 1050px) {
    .bubbles{
        min-height: 58vw;
    }

    .logo{
        margin-top: -20%;
    }

    .jqueryimg{
        margin-top: -8%;
    }
}

@media (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .navbar.responsive {position: fixed;}
    .navbar.responsive .icon {
       position: absolute;
       right: 0;
       top: 0;
    }
    
   .navbar.responsive a:not(:first-child){width: 100%;}
   .navbar.responsive a:last-child{text-align: right;}
   .navbar.responsive a {
      margin:1% ;
      float: none;
      display: block;
      text-align: left;
    }
}

@media(max-width:575px){
 .jqueryimg{
      width: 10.2%;
    }
   
 .profile{
     width:100px;
     height: 100px;
   }
    
}
